/*最顶部*/
.gsproduct_top {
  width: 100%;
  height: 50px;
  padding-right: 48px;
  background-color: #ff841d;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.gsproduct_top a {
  display: block;
}
.gsproduct_top a span {
  padding: 12px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
}
.gsproduct_top .download {
  width: 48px;
  height: 48px;
  padding-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
}
.gsproduct_top .download img {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}
.gsproduct_top p {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
/*页面底部*/
.gsproduct_footer {
  margin-top: 25px;
  background-color: #f1f1f1;
}
.gsproduct_footer .footer_title {
  background-color: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
}
.gsproduct_footer .footer_title a {
  float: left;
  display: block;
  width: 30%;
  text-align: center;
  border-right: 1px solid #c4c4c4;
  color: #000;
  font-size: 14px;
}
.gsproduct_footer .footer_title a:last-child {
  width: 40%;
  border: none;
}
.gsproduct_footer .footer_title a:last-child img {
  width: 15px;
  height: 15px;
  display: inline;
  vertical-align: middle;
  margin-top: -4px;
}
.gsproduct_footer .footer {
  height: 60px;
  padding: 15px 0;
}
.gsproduct_footer .footer p {
  text-align: center;
}
.gsproduct_footer .footer p a {
  color: #000;
}
.container {
  position: relative;
}
.nav {
  position: relative;
  height: 37px;
  display: flex;
  /*搜索按钮*/
}
.nav .category {
  height: 37px;
  width: 100%;
  flex: 1;
}
.nav .category .shopNav {
  border-bottom: 1px solid #ccc;
}
.nav .category .shopNav li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.nav .category .shopNav li a {
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 37px;
}
.nav .search_btn {
  width: 38px;
  height: 38px;
  background: url("../images/icon_bar.png") no-repeat -10px -55px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  background-origin: content-box;
  background-size: 220px 132px;
}
/*下方标题*/
.areaNav {
  position: absolute;
  display: none;
  float: left;
  width: 100%;
}
.areaNav li {
  position: relative;
}
.areaNav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.areaNav li::after {
  content: "";
  display: none;
  width: 20px;
  height: 20px;
  background: url("../images/active.png") no-repeat center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.areaNav .on:after {
  display: block;
}
.areaNav.on {
  display: block;
}
.gsproduct_list {
  background-color: #f1f1f1;
  padding: 2% 0;
  /*懒加载 显示加载图片*/
  /*定义动画*/
}
.gsproduct_list .loading {
  width: 100%;
  height: 1200px;
  background-color: #fff;
}
.gsproduct_list .loading img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  animation: rotate 3s infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gsproduct_list ul {
  width: 98%;
  margin: 0 auto;
}
.gsproduct_list li {
  float: left;
  width: 50%;
}
.gsproduct_list li a {
  display: block;
  margin: 5px;
  background-color: #fff;
}
.gsproduct_list li a img {
  width: 174px;
  height: 174px;
  margin: 0 auto;
}
.gsproduct_list li a .title {
  color: #000;
  margin: 0 5px;
  overflow: hidden;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}
.gsproduct_list li a .other {
  height: 45px;
  padding: 10px 5px;
}
.gsproduct_list li a .other .price {
  font-size: 20px;
  color: #f8601d;
  float: left;
}
.gsproduct_list li a .other .goBuy {
  color: #fff;
  background-color: orange;
  padding: 3px 5px;
  float: right;
  border-radius: 5px;
}
