/* 200开始缩小  媒体查询 */
html,
body {
  width: 100%;
  height: 100%;
}
.mmM_container {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
}
/* 头部 */
.mmM_header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  /*最顶部*/
  /*搜索部分*/
}
.mmM_header .mmM_top {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.mmM_header .mmM_top .log {
  padding: 12px;
  height: 50px;
}
.mmM_header .mmM_top .log img {
  width: 185.2px;
  max-height: 25px;
}
.mmM_header .mmM_top .download {
  width: 48px;
  height: 48px;
  padding-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
}
.mmM_header .mmM_top .download img {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}
.mmM_header .mmM_search {
  height: 50px;
  padding: 10px 80px 10px 10px;
  position: relative;
}
.mmM_header .mmM_search .search_input {
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
  background-color: #f1f1f1;
}
.mmM_header .mmM_search .btn_search {
  width: 63px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #ff841d;
  position: absolute;
  top: 10px;
  right: 10px;
}
/*页面底部*/
.mmM_footer {
  margin-top: 25px;
  background-color: #f1f1f1;
}
.mmM_footer .footer_title {
  background-color: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
}
.mmM_footer .footer_title a {
  float: left;
  display: block;
  width: 30%;
  text-align: center;
  border-right: 1px solid #c4c4c4;
  color: #000;
  font-size: 14px;
}
.mmM_footer .footer_title a:last-child {
  width: 40%;
  border: none;
}
.mmM_footer .footer_title a:last-child img {
  width: 15px;
  height: 15px;
  display: inline;
  vertical-align: middle;
  margin-top: -4px;
}
.mmM_footer .footer {
  height: 60px;
  padding: 15px 0;
}
.mmM_footer .footer p {
  text-align: center;
}
.mmM_footer .footer p a {
  color: #000;
}
/*导航*/
.mmM_nav {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  background-color: #fff;
  width: 100%;
}
.mmM_nav li {
  float: left;
  width: 25%;
  padding-top: 25px;
  text-align: center;
  transition: all 1s ;
  transform: scale(1);
}
.mmM_nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmM_nav li a img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.mmM_nav li.active {
  transition: all 0s;
  transform: scale(0);
  height: 0;
}
/*推荐*/
.mmM_main {
  background-color: #fff;
  /*产品列表*/
  /*更多优惠信息*/
}
.mmM_main .recommen_title {
  background-color: #ff9000;
  background: linear-gradient(to bottom, #ffaf47, #ff9000);
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}
.mmM_main .recommen_title span {
  color: #fff;
  font-size: 16px;
}
.mmM_main .recommen_title img {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 7.5px;
}
.mmM_main .recommen_List li {
  padding: 14px 8px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.mmM_main .recommen_List li a {
  display: block;
}
.mmM_main .recommen_List li .item_left {
  width: 110px;
}
.mmM_main .recommen_List li .item_left img {
  width: 100px;
  height: 100px;
}
.mmM_main .recommen_List li .item_right .title {
  height: 57px;
  line-height: 19px;
  font-size: 15px;
  color: #333;
}
.mmM_main .recommen_List li .item_right .title span {
  color: #ff841d;
}
.mmM_main .recommen_List li .item_right .data {
  height: 43px;
}
.mmM_main .moreInfo a {
  margin: 10px 10px 0px 10px;
  display: block;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #F4F4F4;
  background: linear-gradient(to bottom, #ffffff, #f4f4f4);
  color: #000;
}
/*品牌排行*/
.recommen_title {
  padding-top: 10px;
  background-color: #ff9000;
  background: linear-gradient(to bottom, #ffaf47, #ff9000);
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}
.recommen_title span {
  color: #fff;
  font-size: 16px;
}
.recommen_title img {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 7.5px;
}
