/*最顶部*/
.inland_top {
  width: 100%;
  height: 50px;
  padding-right: 48px;
  background-color: #ff841d;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.inland_top a {
  display: block;
}
.inland_top a span {
  padding: 12px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
}
.inland_top .download {
  width: 48px;
  height: 48px;
  padding-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
}
.inland_top .download img {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}
.inland_top p {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
/*产品列表*/
.recommen_product {
  background-color: #fff;
  padding-bottom: 10px;
  /*懒加载 显示加载图片*/
  /*定义动画*/
}
.recommen_product .loading {
  width: 100%;
  height: 1200px;
  background-color: #fff;
}
.recommen_product .loading img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  animation: rotate 3s infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.recommen_product .recommen_List {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.recommen_product .recommen_List li {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  width: 50%;
  padding: 10px 0 0 10px;
}
.recommen_product .recommen_List li a {
  display: block;
}
.recommen_product .recommen_List li a img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
}
.recommen_product .recommen_List li a .title {
  font-size: 14px;
  color: #333;
  height: 36px;
  line-height: 18px;
  font-weight: 700;
  padding: 0 8px;
}
.recommen_product .recommen_List li a .price {
  height: 18px;
  line-height: 18px;
  color: #ff841d;
  font-size: 14px;
  padding: 0 8px;
}
.recommen_product .recommen_List li a .info {
  line-height: 18px;
  padding: 6px 8px;
}
.recommen_product .recommen_List li:nth-child(even) {
  border-right: none;
}
/*页面底部*/
.inland_footer {
  margin-top: 25px;
  background-color: #f1f1f1;
}
.inland_footer .footer_title {
  background-color: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
}
.inland_footer .footer_title a {
  float: left;
  display: block;
  width: 30%;
  text-align: center;
  border-right: 1px solid #c4c4c4;
  color: #000;
  font-size: 14px;
}
.inland_footer .footer_title a:last-child {
  width: 40%;
  border: none;
}
.inland_footer .footer_title a:last-child img {
  width: 15px;
  height: 15px;
  display: inline;
  vertical-align: middle;
  margin-top: -4px;
}
.inland_footer .footer {
  height: 60px;
  padding: 15px 0;
}
.inland_footer .footer p {
  text-align: center;
}
.inland_footer .footer p a {
  color: #000;
}
